/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Resets */
html, body {
  height: 100%;
  background-color: #f5f5f5; /* bms-light */
}

/* Optional: Import Bootstrap Icons if you still want them for icons */
@import 'bootstrap-icons/font/bootstrap-icons.css';